<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
	<Appenders>
		<Console name="STDOUT" target="SYSTEM_OUT">
			<PatternLayout
				pattern="[%-5level] %d{yyyy-MM-dd HH:mm:ss} [%t] %c{1} - %msg%n" />
		</Console>
	</Appenders>

	<Loggers>
		<Root level="error">
			<AppenderRef ref="STDOUT" />
		</Root>
		<Logger name="com.akibot" level="all" additivity="false">
			<AppenderRef ref="STDOUT" />
		</Logger>
	</Loggers>

</Configuration>